{% extends "base.html" %}

{% block content %}

<!-- Header Section with Animation -->
<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white animate__animated animate__fadeInDown">
            <h1 class="display-4 fw-bolder">Update</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update User Profile...</p>
        </div>
    </div>
</header>


<div class="container d-flex justify-content-center align-items-center mt-2" style="min-height: 55vh;">
    <div class="col-md-4">
        <div class="card shadow-lg p-4 rounded animate__animated animate__fadeInUp" style="border-radius: 15px;">
            <form method="POST" action="{% url 'update_user' %}">
                {% csrf_token %}

                {{ user_form.as_p}}
                <br/>
                <br/>
                <button type="submit" class="btn btn-info w-100 btn-hover bg-hover-secondary">Update Profile</button>
            </form>
            <br/>
            <a href="{% url 'update_password' %}" class="btn btn-success w-100 btn-hover">Update Password</a>

        </div>
    </div>
</div>

{% endblock %}
