{% extends "base.html" %}

{% block content %}

<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Suyog ECommerce Shop....</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>

                    <div class="col-8">
                        <p align='justify'>
                       <h1 align='center'><strong > Suyog Dighe</strong></h1>
                        <br/><br/> is a B.Tech Information Technology
                         student with a specialization in Cybersecurity (Honors) 
                         He has experience in Java Full Stack Development and has completed
                          certifications such as <strong>Wipro</strong> TalentNext Java Full Stack and 
                          the <strong>Deloitte</strong> Cybersecurity Virtual Internship
                            <br/><br/> 
                            <p align='justify'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti distinctio voluptates odit unde, voluptatum culpa, officia voluptatem explicabo dolore eaque maxime reprehenderit voluptas? Officia eius quas quia in, quod ex!
                            Natus consequuntur voluptates harum? Quas fugit temporibus harum necessitatibus repellat eos pariatur voluptate doloremque blanditiis repudiandae. Quam voluptates nobis possimus vero. Sed illo impedit exercitationem delectus fugit alias nam facere!
                            Nemo necessitatibus accusantium sapiente est. Vitae dignissimos nisi totam repudiandae odio! Pariatur autem officia ducimus dolorem nam inventore quaerat tempora ratione! Eius tenetur quo voluptatem non molestiae eveniet rerum vero.
                            Fugiat quaerat, omnis ea ratione libero accusamus quasi recusandae adipisci hic tempora molestias odit maiores, sint, inventore necessitatibus error dicta molestiae a earum natus nihil ut incidunt? Ratione, nostrum culpa?
                            Voluptatem rerum iure error eos eum id repellat expedita voluptatum totam non ea adipisci, doloribus eius animi accusantium magnam in laboriosam, recusandae praesentium earum voluptatibus quaerat fugiat ex! Velit, perspiciatis!
                            <br/><br/>
                            Libero voluptatem facilis voluptate dolorum cumque neque. Officia tempore excepturi nulla omnis. Nulla consequuntur ex voluptatum numquam rem natus. Animi excepturi odio in reprehenderit perferendis delectus facere veniam alias harum?
                            Placeat nihil quas iure mollitia ratione quam, facere dolorum. Fugiat voluptatem eos ea, repudiandae nulla cupiditate assumenda corrupti quisquam quo, dolor, soluta voluptates praesentium dolore voluptas maiores commodi porro ratione!
                            Nesciunt quibusdam eum quaerat. Mollitia quod incidunt enim, iure ullam rerum perferendis vel facere quis! Non veniam, ullam fuga cupiditate reprehenderit in quasi tempora exercitationem dicta totam vero suscipit quis?
                            Unde distinctio doloremque sint tempore consequuntur accusantium ullam est placeat exercitationem eum. Ut laboriosam neque repellendus a suscipit alias, cum tempora optio sint, dolores provident voluptatem, eum non vero ipsum.
                            Fuga aliquid odit maxime facere atque cumque harum animi reprehenderit vitae at vero aut repellat enim suscipit, ea labore ad consequatur vel quod explicabo impedit. Laboriosam, asperiores aut. Minima, dolor.</p>
                          <p>
                    </div>
                </center>
            </div>


        </div>

About  me stuff
{% endblock %}